// 기본 셋팅
$body-base-font: 'Spoqa Han Sans Neo', arial, sans-serif, Arial, dotum, '돋움';
$body-font-color: #000;
$base-font-size: 20px;
$line-height: 1.5;
$letter-spacing: -0.02rem;

// base color
$point-color1: #ffcc13;
