.layer-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: auto;
    background-color: rgba(0, 0, 0, .6);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &.open {
        display: block;
    }
    .popup-container {
        max-width: 720px;
        margin: 0 auto;
    }
    .popup-body { background-color: #fff; }
    .popup-content {
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    .popup-header {
        position: relative;
        background-color: #f4eacd;
        .btn-close {
            position: absolute;
            top: 10px;
            right: 10px;
            display: block;
            width: 25px;
            height: 25px;
            background: url('../images/icon-popup-close.png') no-repeat 50% 50%;
            background-size: 100% auto;
            @include breakpoint(maxMobile){
                top: 20px;
                right: 20px;
                width: 50px;
                height: 50px;
            }
        }
    }
    .popup-title {
        padding: 30px 0;
        text-align: center;
        line-height: 1.3;
        @include vw(40px);
        font-weight: 700;
        color: #222;
        @include breakpoint(maxMobile){
            padding: 60px 0;
        }
    }
    &.benefit-popup {
        display: block;
        top: auto;
        bottom: -100%;
        height: auto;
        padding: 0;
        background: none;
        visibility: hidden;
        -webkit-transition: all .5s cubic-bezier(0.08, 0.69, 0.43, 0.95);
        transition: all .5s cubic-bezier(0.08, 0.69, 0.43, 0.95);
        @media screen and (max-height: 900px) {
            .popup-body {
                max-height: calc(100vh - 157px);
                overflow-y: auto;
            }
        }
        &.open {
            visibility: visible;
            bottom: 0;
            &:before {
                content: '';
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .6);
            }
        }
        .popup-header {
            padding: 0;
            border-radius: 20px 20px 0 0;
            background-color: #fff;
            @include breakpoint(maxMobile){
                border-radius: 40px 40px 0 0;
            }
            .btn-close {
                top: 30px;
                right: 30px;
                width: 35px;
                height: 35px;
                background-image: url('../images/icon-popup-close-circle.png');
                @include breakpoint(maxMobile){
                    top: 60px;
                    right: 60px;
                    width: 70px;
                    height: 70px;
                }
            }
        }
        .popup-title {
            padding: 20px 4.167% 15px;
            text-align: center;
            @include breakpoint(maxMobile){
                padding: 40px 40px 20px;
            }
            .logo {
                width: percent(302,600);
                margin-top: 10px;
                @include breakpoint(maxMobile){
                    width: 302px;
                    margin-top: 15px;
                }
            }
        }
        .visual-container {
            padding-bottom: 8%;
            background-color: #fff;
            // @include breakpoint(maxMobile){
            //     padding-bottom: 50px;
            // }
            .description {
                padding: 0 4.167%;
                letter-spacing: -.25px;
                @include breakpoint(maxMobile){
                    padding: 0 40px;
                }
                .item-name {
                    margin-top: 30px;
                    line-height: 1.1;
                    @include vw(46px);
                    font-weight: 700;
                    color: #222;
                    @include breakpoint(maxMobile){
                        margin-top: 35px;
                        font-size: 36px;
                    }
                }
                .sub-text {
                    margin-top: 10px;
                    line-height: 1.2;
                    @include vw(30px);
                    font-weight: 500;
                    color: #999;
                    @include breakpoint(maxMobile){
                        margin-top: 10px;
                        font-size: 22px;
                    }
                }
                .info-text {
                    margin-top: 10px;
                    line-height: 1.3;
                    @include vw(30px);
                    font-weight: 500;
                    color: #222;
                    @include breakpoint(maxMobile){
                        margin-top: 10px;
                        font-size: 22px;
                    }
                    li {
                        position: relative;
                        padding-left: 10px;
                        line-height: 1.4;
                        @include vw(20px);
                        color: #999;
                        word-break: break-word;
                        @include breakpoint(maxMobile){
                            font-size: 16px;
                        }
                        &:before {
                            content: '-';
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    .action {
                        margin-top: 15px;
                        @include breakpoint(maxMobile){
                            margin-top: 20px;
                        }
                    }
                    a {
                        position: relative;
                        display: inline-block;
                        padding: 9px 40px 8px 30px;
                        @include vw(26px);
                        font-weight: 700;
                        color: #222;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #222;
                        border-radius: 35px;
                        background-color: #fff;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        @include breakpoint(maxMobile){
                            padding: 15px 60px 15px 30px;
                            font-size: 18px;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 8%;
                            display: block;
                            width: 18px;
                            height: 18px;
                            background: url('../images/icon-button-arrow-b.png') no-repeat 0 0;
                            background-size: cover;
                            transform: translateY(-50%);
                            @include breakpoint(maxMobile){
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                    & + .info-text {
                        margin-top: 25px;
                        @include breakpoint(maxMobile){
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
    &.apply-popup {
        .form-container {
            padding: 15px 15px 30px;
            @include breakpoint(maxMobile){
                padding: 30px 30px 60px;
            }
            .text {
                margin: 25px 0 0 10px;
                line-height: 1.7;
                @include vw(20px);
                color: #999;
                @include breakpoint(maxMobile){
                    margin-top: 50px;
                }
                span {
                    display: inline-block;
                    text-indent: -10px;
                }
            }
        }
        .form-wrapper {
            .form-item {
                font-size: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: #e5e5e5;
                @include breakpoint(maxMobile){
                    border-bottom-width: 2px;
                }
                & + .form-item {
                    margin-top: 15px;
                    @include breakpoint(maxMobile){
                        margin-top: 30px;
                    }
                }
                .item {
                    display: inline-block;
                    vertical-align: middle;
                    height: 44px;
                    line-height: 44px;
                    @include vw(30px);
                    color: #222;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    @include breakpoint(maxMobile){
                        height: 90px;
                        line-height: 90px;
                    }
                    &:nth-child(1):nth-last-child(2) { width: 20%; }
                    &:nth-child(2):nth-last-child(1) { width: 80%; }
    
                    &:nth-child(1):nth-last-child(3) { width: 20%; }
                    &:nth-child(2):nth-last-child(2) { width: 50%; }
                    &:nth-child(3):nth-last-child(1) { width: 30%; }
                }
                label {
                    display: block;
                    width: 100%;
                    height: 100%;
                    @include vw(20px);
                }
                input {
                    width: 100%;
                    height: 100%;
                    @include vw(30px);
                    border: none;
                    outline: none;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-weight: 700;
                    text-align: right;
                }
            }
        }
        .notice-container {
            padding-top: 25px;
            background-color: #eee;
            @include breakpoint(maxMobile){
                padding-top: 50px;
            }
            .toggle-box {
                &.active {
                    .toggle-header:after {
                        -webkit-transform: translateY(-50%) rotate(180deg);
                        -ms-transform: translateY(-50%) rotate(180deg);
                        transform: translateY(-50%) rotate(180deg);
                    }
                    .toggle-body { display: block; }
                }
            }
            .toggle-header {
                position: relative;
                padding: 10px 15px;
                cursor: pointer;
                @include vw(20px);
                color: #222;
                @include breakpoint(maxMobile){
                    padding: 20px 30px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 5%;
                    display: block;
                    width: 12px;
                    height: 8px;
                    background: url('../images/icon-arrow-24x16.png') no-repeat 0 0;
                    background-size: 100% auto;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    @include breakpoint(maxMobile){
                        width: 24px;
                        height: 16px;
                    }
                }
            }
            .toggle-body {
                display: none;
                padding: 0 15px 15px;
                @include breakpoint(maxMobile){
                    padding: 0 30px 30px;
                }
                li {
                    padding-left: 10px;
                    position: relative;
                    @include vw(20px);
                    font-weight: 500;
                    color: #999;
                    &:before {
                        content: '-';
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                    }
                    &.bold { font-weight: 700; }
                    a {
                        font-weight: 700;
                        color: #222;
                        text-decoration: underline;
                    }
                }
            }
            .text {
                padding: 15px 0 30px;
                text-align: center;
                @include vw(30px);
                @include breakpoint(maxMobile){
                    padding: 30px 0 60px;
                }
            }
        }
        .action a { border-radius: 0; }
    }
    &.policy-popup {
        .policy-container {
            overflow: hidden;
            padding: 0 15px 30px;
            @include breakpoint(maxMobile){
                padding: 0 30px 60px;
            }
            .title {
                margin-top: 30px;
                @include vw(28px);
                font-weight: 700;
                @include breakpoint(maxMobile){
                    margin-top: 60px;
                }
            }
            .sub-title {
                margin-top: 10px;
                @include vw(26px);
                letter-spacing: -1px;
                @include breakpoint(maxMobile){
                    margin-top: 20px;
                }
            }
            .text {
                margin: 5px 0 0 10px;
                line-height: 1.7;
                @include vw(18px);
                color: #999;
                @include breakpoint(maxMobile){
                    margin-top: 10px;
                }
                span {
                    display: inline-block;
                    text-indent: -10px;
                }
            }
            .data-table {
                margin-top: 0.5rem;
                th, td {
                    @include vw(18px);
                    &.bold {
                        @include vw(22px);
                    }
                }
            }
            .mt05 {
                margin-top: 0.5rem;
            }
        }
    }
}
